{% extends 'base.html' %}

{% block title %}Commie Commerce | Sign Up! {% endblock %}

{% block content %}

<h3>This is the 'signup' page</h3>

    <form method='post'>
        {{form.csrf_token}}
        <div>

            {{ form.email.label }}
            {{ form.email(class='form-control', placeholder='email@url.com') }}

            {{ form.username.label }}
            {{ form.username(class='form-control', placeholder='Enter a user name') }}

            {{ form.password.label }}
            {{ form.password(class='form-control', placeholder='Choose a password') }}

            {{ form.confirm_pass.label }}
            {{ form.confirm_pass(class='form-control', placeholder= 'Confirm Password') }}

            {{ form.submit(class='btn btn-primary mt-3')}}

        </div>

    </form>

</form>

{% endblock %}